/* normalize */
html,
body {
  margin: 0;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
  &[href]:hover {
    color: $primary;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
textarea {
  resize: none;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
[v-cloak] {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline_block {
  display: inline-block;
}

/*滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条的宽度*/
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/*滚动条的设置*/
*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条鼠标移上去*/
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/* element-ui */
.el-card {
  display: flex;
  flex-direction: column;
  .el-card__header {
    padding: 10px 20px;
    text-align: left;
    color: $fontColor8;
  }
  .el-card__body {
    flex: 1 auto;
    padding: 5px 10px;
  }
}

.el-menu-item.is-active {
  background: $primary;
  &:hover {
    background: $primary !important;
  }
}
