@use 'sass:math';
@use 'sass:map';

$--colors: (
  'primary': (
    'base': #968EC9,
  ),
  'success': (
    'base': #67c23a,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #db2828,
  ),
  'info': (
    'base': #42b8dd,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $menu: (
    'bg-color': 'transparent',
    'text-color': 'rgba(255,255,255,.8)',
    'hover-text-color': '#fff',
    'hover-bg-color': 'transparent',
    'active-color': '#fff'
  ),
  $table-padding: (
    'large': 20px 0,
    'default': 15px 0,
    'small': 5px 0,
  ),
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

@use 'element-plus/theme-chalk/src/index.scss' as *;
