$primary: #968EC9;
$blue: #458dff;
$lightColor: #fec10e;

$white: #fff;
$fontColor0: #000;
$fontColor1: #111;
$fontColor3: #333;
$fontColor5: #555;
$fontColor6: #666;
$fontColor8: #888;
$fontColor9: #999;
$fontColorc: #ccc;
$fontColorb: #bbb;
$fontColore: #eee;
$fontColord: #ddd;

$menuBg: #001529;